.main_chat
  .main_chat__main-header
    .main_chat__main-header__left-box
      .main_chat__main-header__left-box__current-group
        = @group.name
      .main_chat__main-header__left-box__member-list
        Member:
        .main_chat__main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    .main_chat__main-header__edit-btn
      = link_to edit_group_path(@group) do
        Edit


  .main_chat__messages
    - @messages.each do |message|
      .main_chat__messages__message
        .main_chat__messages__message__upper-info
          .main_chat__messages__message__upper-info__talker
            = message.user.name
          .main_chat__messages__message__upper-info__date
            = message.created_at
        .main_chat__messages__message__text
          = message.body
        .main_chat__messages__message__image

  .main_chat__message_form
    .main_chat__message_form__new-message
      .main_chat__message_form__new-message__input-box
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: 'message-text', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'image' do
              = icon('fa', 'images', class: 'open-file')
              = f.file_field :image, class: 'hidden'
          .main_chat__message_form__new-message__submit-btn
            = f.submit 'Send', class: 'submit-btn'